<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Busqueda por palabra clave </h1>

    <form method="GET"> {% csrf_token %}
        <input type="text" id="kword" name="kword" placeholder="ingrese palabra clave aqui">
        <button type="submit">Buscar</button>
    </form>
    <h2>Resultados</h2>
    {% for emp in empleados %}
        <li>{{emp}}</li>
        
    {% endfor %}
        
</body>
</html>