{% extends 'base.html' %}


{% block title %}
    Empleado por Area
{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <h2 class="cell">Lista de Empleados del Area</h2>
            <div class="cell">
                <table>
                    <thead>
                      <tr>
                        <th width="100">ID</th>
                        <th>Nombres</th>
                        <th width="150">Apellidos</th>
                        <th width="200">Departamento</th>
                        <th width="100">Accion</th>
                      </tr>
                    </thead>

                    <tbody>
                        {% for emp in empleados %}
                        <tr>
                          <td>{{emp.id}}</td>
                          <td>{{emp.first_name}}</td>
                          <td>{{emp.last_name}}</td>
                          <td>{{emp.departamento}}</td>
                          <td><a class="hollow button secondary" href="{% url 'persona_app:empleado_detail' emp.id %}">Ver</a>
                          </td>
                        </tr>                            
                        {% endfor %}
                            
                    
                    </tbody>
                  </table>
            </div>


        </div>

    </div>

{% endblock content %}