{% extends 'base.html' %}

{% block title %}
    Lista de departamentos
{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Lista de departamentos</h1>
            <div class="cell">
                <table>
                    <tbody>
                        
                        {% for dep in departamentos %}
                        <tr>
                            <td>{{dep.name}}</td>
                            <td>{{dep.shor_name}}</td>        
                            <td><a class="hollow button secondary" href="{% url 'persona_app:list_by_area' dep.shor_name %}">Ver Empleados</a>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
    
    